# Node
node_modules/
npm-debug.log*
yarn-error.log*

# Expo / React Native
.expo/
.expo-shared/
ios/Pods/
ios/xcuserdata/
android/.gradle/
android/app/build/
android/build/

# macOS
.DS_Store

# Logs
logs/
*.log